################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/BuildingBlocks/Application/obj
/src/BuildingBlocks/Domain/obj
/src/BuildingBlocks/Infrastructure/obj
/src/Services/Contract/Contract.Domain/obj
/src/BuildingBlocks/Domain/bin/Debug/netstandard2.0
/.vs/mocrm/v16
/.vs/mocrm/DesignTimeBuild
/.vs/mocrm/config
/src/Services/Contract/Contract.Domain/bin/Debug/netstandard2.0
/src/Services/Contract/ContractOrding.Infrastructure/obj
/src/Services/Customer/Customer.Domain/bin/Debug/netstandard2.0
/src/Services/Customer/Customer.Domain/obj
/src/Services/Contract/ContractOrdering.UnitTests/bin/Debug/netcoreapp3.1
/src/Services/Contract/ContractOrdering.UnitTests/obj
/src/Services/Contract/ContractOrding.Infrastructure/bin/Debug/netstandard2.0
/TestResults/27fc5247-3075-42cb-8459-741b01cee2e3
