################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/mocrm
/src/BuildingBlocks/YunStorm.MoCRM.BuildingBlocks.Common/bin/Debug/netstandard2.0
/src/BuildingBlocks/YunStorm.MoCRM.BuildingBlocks.Common/obj
/src/Services/Customer/.vs
/src/Services/Customer/YunStorm.MoCRM.Customer.API/bin/Debug/netcoreapp3.1
/src/Services/Customer/YunStorm.MoCRM.Customer.API/obj
/src/Services/Customer/YunStorm.MoCRM.Customer.Application/bin/Debug/netstandard2.0
/src/Services/Customer/YunStorm.MoCRM.Customer.Application/obj
/src/Services/Customer/YunStorm.MoCRM.Customer.Application.Contracts/bin/Debug/netstandard2.0
/src/Services/Customer/YunStorm.MoCRM.Customer.Application.Contracts/obj
/src/Services/Customer/YunStorm.MoCRM.Customer.Domain/bin/Debug/netstandard2.0
/src/Services/Customer/YunStorm.MoCRM.Customer.Domain/obj
/src/Services/Customer/YunStorm.MoCRM.Customer.Domain.Shared/bin/Debug/netstandard2.0
/src/Services/Customer/YunStorm.MoCRM.Customer.Domain.Shared/obj
/src/Services/Customer/YunStorm.MoCRM.Customer.EntityFrameworkCore/bin/Debug/netstandard2.0
/src/Services/Customer/YunStorm.MoCRM.Customer.EntityFrameworkCore/obj
/src/Services/Customer/YunStorm.MoCRM.Customer.EntityFrameworkCore.DbMigrations/bin/Debug/netstandard2.0
/src/Services/Customer/YunStorm.MoCRM.Customer.EntityFrameworkCore.DbMigrations/obj
